      <link rel="stylesheet" href="/styles/login.css" />
      <div class="mainContainer">
        <div class="elements">
          <h2 class="title">Inicio de seccion</h2>
          <form class="form" action="/send" method="POST">
            <input type="text" class="input"   name="user" placeholder=" Usuario">
            <input type="password" class="input" name="password"  placeholder=" Contraseña">
            <button type="submit" class="botton">Ingresar</button>
           </form>
          <section class="linksBox">
            <p class="link">documentación</p>
            <p class="link">contactar a soporte</p>
          </section>
        </div>
      </div>