
    <link rel="stylesheet" href="/styles/index.css" />
    <header class="header">
      <h2 class="title">Programa de cortes</h2>
      <H4 class="subtitle">Instalando Cali</H4>
      <div class="pathBox">
        <p class="path">Inicio>Nuevo Pedido</p>
      </div>
      <div class="userInfo">
        <p class="user">Usuario: Admin</p>
      </div>
    </header>